
.qualification-section{
    position: relative;
}
.tech-header{
    text-align: center;
}

.tech-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tech{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.tech__name{
    font-size: 10px;
    background-color: transparent;
    font-weight: 500;
}

.tech__icon{
    height: 32px;
}

.about-arrow{
    position: absolute;
    bottom: -103px;
    right: -45px;
    z-index: -1;
}