.btn {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    min-width: 120px;
    text-align: center;
    padding: 8px 12px;

    text-decoration: none;
    border-radius: 30px;
    border: 3px solid transparent;
    color: var(--white-color);
    cursor: pointer;
    outline: none;
}

@media (min-width: 768px) {
    .btn{
        min-width: 180px;
        padding: 12px;
        font-size: 16px;
    }
}

.btn-color-green {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--green-color);
    color: var(--white-color);
    box-shadow: 0 3px 0 var(--green-color-dark);
}

.btn-color-green:hover {
    background-color: var(--green-color-dark);
    color: var(--white-color);
    outline: none;
}

.btn-color-violet {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--violet-color);
    color: var(--white-color);
    box-shadow: 0 3px 0 var(--violet-color-dark);
}

.btn-color-violet:hover {
    background-color: var(--violet-color-dark);
    color: var(--white-color);
    outline: none;
}
