.resume-page {
    width: 900px;
    margin: 10px auto;
    border: 1px solid var(--lignt-light-grey-color);
    border-radius: 5px;
}

.intro-section {
    padding: 15px 10px;
    border-bottom: 1px solid var(--lignt-light-grey-color);
    /*background-color: var(--bluish-gray);*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 25px;
}

.intro-section__main-title {
    color: var(--black-deep-color);
    font-weight: 700;
    line-height: 1.2;
}

.intro-section__secondary-title {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: var(--light-grey-color)
}

.intro-section__contact {
    padding-top: 20px;
    line-height: 1.5;
    list-style: none;
}

.intro-section__contact-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.intro-section__contact--icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.intro-section__contact--link {
    text-decoration: none;
    margin-right: 10px;
    color: var(--black-deep-color);;
}


.section-title {
    font-size: 20px;
    padding: 0 10px;
    color: var(--black-deep-color);
}

.common-section {
    padding: 20px;
}

.common-section__items{
    column-count: 4;
}
.common-section__item{
    line-height: 1.5;
    color: var(--black-deep-color);
}
.section-education__wrapper{
    padding: 20px;
}
.section-education {
    display: flex;
    flex-direction: row;
}
.section-education:first-child{
    padding: 0 10px 15px 0;
}
.section-education__time{
    width: 120px;
    padding-right: 10px;
    color: var(--black-deep-color);
}

.section-education__place-name{
    color: var(--black-deep-color);
    font-weight: bold;
    font-size: 16px;
}

.section-education__place-specialization{
    color: var(--black-deep-color);
}
