.social__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 50px;
    background-color: var(--white-color);
    padding: 5px 0;
    width: 110px;
}


.navbar__social-item {
    width: 25px;
    height: 25px;
    margin: 0 2px;
    cursor: pointer;
    fill:  var(--violet-color);
}
.navbar__social-item:hover {
    fill: var(--violet-color-dark);
}
