.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    box-shadow: 0 15px 34px 0 rgba(16,53,87,0.25);
    border-radius: 12px;
    background-image: url('../../assets/curly-brackets.svg');
    background-size: 30%;
    background-repeat: no-repeat;
    background-position: left 5% bottom 10%;
}

@media (min-width: 768px) {
    .card{
        width: 330px;
    }
}

.card__info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    height: 50%;
    text-align: center;
}

.card__info .secondary-header{
    margin: 10px 0;
    align-self: center;
}

.card__info-technology{
    display: block;
    width: 50%;
    text-align: left;
}

.technology-item{
    background-color: var(--yellow-color);
    color: var(--black-deep-color);
    font-size: 15px;
    padding: 8px 20px;
    margin: 8px 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-transform: uppercase;
}

.card__info-link-project-github{
    margin: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;


    background-color: var(--white-color);
    border: 4px solid var(--white-color);
    border-radius: 50%;

    fill: var(--black-deep-color);
}

.card__info-link-project-github:hover{
    fill: var(--violet-color-dark);
}

