.card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
    box-shadow: 0 15px 34px 0 rgba(16,53,87,0.25);
    border-radius: 12px;
}

@media (min-width: 768px) {
    .card{
        width: 330px;
    }
}

.card__image{
    width: 100%;
}

.card__info .secondary-header{
    margin-top: 20px;
}
.card__info{
    height: 50%;
    padding: 0 20px 20px 20px;
    text-align: center;
    background-color: var(--light-blue-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.card__info-technology{
    padding: 10px 0 0 0;
    text-align: center;
    flex-grow: 1;

}

.card__info-link-project-github{
    margin-top: 10px;
    width: 35px;
    height: 35px;
    cursor: pointer;


    background-color: var(--white-color);
    border: 4px solid var(--white-color);
    border-radius: 50%;

    fill: var(--violet-color);
}

.card__info-link-project-github:hover{
    fill: var(--violet-color-dark);
}