
.projects .main-header {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0 10px 0;
}

.cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}