.btn {
    font-size: 16px;
    font-weight: 700;
    min-width: 180px;
    text-align: center;
    padding: 15px;

    text-decoration: none;
    border-radius: 30px;
    border: 3px solid transparent;
    color: var(--white-color);
    cursor: pointer;
}

.btn-color-green:hover{
    background-color: var(--green-color-dark);
    color: var(--white-color);
}

.btn-color-green{
    background-color: var(--green-color);
    color: var(--white-color);
    box-shadow: 0 3px 0 var(--green-color-dark);
}

.btn-color-violet{
    background-color: var(--violet-color);
    color: var(--white-color);
    box-shadow: 0 3px 0 var(--violet-color-dark);
}

.btn-color-violet:hover{
    background-color: var(--violet-color-dark);
    color: var(--white-color);
}

.btn-round{
    width: 50px;
    height: 50px;
    font-size: 25px;
    border-radius: 50%;
    color: var(--white-color);
    background-color: var(--green-color);
    box-shadow: 0 3px 0 var(--green-color-dark);
    border: 1px solid transparent;
}