.btn-color-green{
    font-size: 16px;
    font-weight: 700;
    min-width: 180px;
    text-align: center;
    padding: 15px;

    background-color: var(--green-color);
    border-radius: 30px;
    border: 3px solid transparent;
    color: var(--white-color);
    box-shadow: 0 3px 0 var(--green-color-dark);

    cursor: pointer;
}

.btn-color-green:hover{
    background-color: var(--green-color-dark);
    color: var(--white-color);
}

