.navbar {
    max-width: 900px;
    margin: 30px auto;
    font-size: 16px;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 10px;

    align-items: center;
    justify-items: center;
}

.navbar__logo {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
    color: var(--violet-color);

    justify-self: end;
}

.navbar__items{
    font-weight: bold;

    display: flex;
    align-items: center;
}

.navbar__items-item {
    text-decoration: none;
    padding: 15px 15px;
    cursor: pointer;
}

.navbar__items-item:hover {
    color: var(--green-color);
}

.navbar__social {
    display: flex;
    justify-content: flex-start;
    justify-self: start;
}

.navbar__social-item {
    width: 37px;
    height: 37px;
    margin: 5px 3px;
    cursor: pointer;
}