@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black-color);
}

:root {
    --green-color: #35c2b2;
    --green-color-light: #BFEDEA;
    --green-color-dark: #2BAD9E;
    --violet-color: #8474e5;
    --violet-color-dark: #493B9C;
    --light-blue-color: #CBE8F2;
    --white-color: #ffffff;
    --black-color: #000000;
    --black-deep-color: #182850;
    --light-grey-color: #54719d;
    --lignt-light-grey-color: #DAE2EC;
    --red-color: #960f0f;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.main-header{
    font-size: 25px;
    font-weight: 700;
    line-height: 1.2;
    color: var(--black-deep-color);
}

@media (min-width: 768px) {
    .main-header{
        font-size: 34px;
        padding-bottom: 18px;
    }
}
.secondary-header{
    font-size: 20px;
    font-weight: 700;
    padding: 15px 0;
    color: var(--black-deep-color);
}

@media (min-width: 768px) {
    .secondary-header{
        font-size: 24px;
    }
}
.third-header{
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--light-grey-color);
    line-height: 1.4;
    letter-spacing: 1px;
}


.plane-text{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: var(--black-deep-color);
    line-height: 1.5;
    letter-spacing: 0;
}

.text-tag{
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 8px;
    line-height: 1.2;
    margin: 4px;
    color: var(--black-deep-color);
    background-color: var(--lignt-light-grey-color);
    border-radius: 5px;
}
