* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--black-color);
}

:root {
    --green-color: #35c2b2;
    --green-color-light: #BFEDEA;
    --green-color-dark: #2BAD9E;
    --violet-color: #8474e5;
    --violet-color-dark: #493B9C;
    --white-color: #ffffff;
    --black-color: #000000;
    --black-deep-color: #182850;
    --light-grey-color: #54719d;
    --red-color: #960f0f;
}
