* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: var(--black-color);
}

:root {
    --green-color: #35c2b2;
    --green-color-dark: #2BAD9E;
    --violet-color: #8474e5;
    --white-color: #ffffff;
    --black-color: #000000;

}
