.home {
    padding: 10px 30px 0 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (min-width: 500px) {
    .home{
        margin: 5px 0 30px 0;
        flex-direction: row;
    }
}

.home__gallery {
    height: 300px;
    width: 100%;
    background-image: url("../../assets/M_small.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

/*192dpi from retina*/
@media (min-resolution: 192dpi) and (min-width: 600px), (min-width: 2000px) {
    .home__gallery{
        background-image: url("../../assets/M_big.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
    }
}

@media (min-width: 508px) {
    .home__gallery{
        margin-right: 30px;
        flex-basis: 50%;
    }
}
.home__information{
    flex-basis: 50%;
    padding: 20px 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.home__information .main-header{
    padding-bottom: 10px;
}
.home__information .plane-text{
    padding-top: 10px;
    margin-bottom: 30px;
}
