.contact {
    max-width: 900px;
    margin: 10px;
    padding: 35px 40px;
    border: 1px solid transparent;
    border-radius: 40px;
    background-color: var(--green-color-light);
}

.contact .main-header {
    text-align: left;
    padding-left: 0;
    padding-top: 0;
}

.contact__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact__wrapper .secondary-header{
    padding: 10px 0;
}

.contact__social {
    flex-basis: 40%;
}
.contact__social .social__wrapper{
    margin-bottom: 30px;
}

.contact__input-block {
    flex-basis: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.contact__input {
    width: 100%;
    padding: 15px 21px;
    margin-bottom: 15px;
    font-size: 16px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    background-color: var(--white-color);
    color: var(--black-deep-color);
    border: 1px solid transparent;
    border-radius: 13px;
    outline: none;
}

.contact__textarea {
    width: 100%;
    padding: 15px 21px;
    font-size: 16px;
    border: 1px solid transparent;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    color: var(--black-deep-color);
    border-radius: 13px;
    outline: none;
    margin-bottom: 30px;
    resize: none;
}

.contact__control{
    align-self: flex-end;
    padding-bottom: 10px;
}
