.contact {
    max-width: 900px;
    margin: 60px 10px 10px 10px;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 12px;
    background-color: var(--green-color-light);


    position: relative;
}

.contact .main-header {
    text-align: left;
    padding-bottom: 10px;
}

.contact__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.contact__wrapper .secondary-header{
    padding: 10px 0;
}

.contact__social {
    flex-basis: 40%;
}
.contact__social .social__wrapper{
    margin-bottom: 15px;
}

.contact__input-block {
    flex-basis: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.contact__input {
    width: 100%;
    padding: 15px 21px;
    margin-bottom: 15px;
    font-size: 16px;
    font-family: inherit;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    background-color: var(--white-color);
    color: var(--black-deep-color);
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}

.contact__textarea {
    width: 100%;
    padding: 15px 21px;
    font-family: inherit;
    font-size: 16px;
    border: 1px solid transparent;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    color: var(--black-deep-color);
    border-radius: 5px;
    outline: none;
    margin-bottom: 50px;
    resize: none;
    z-index: 2;
}
.contact__textarea::placeholder, .contact__input::placeholder{
    color: var(--black-deep-color);
    font-size: 16px;
}

.contact__control{
    align-self: flex-end;
    padding-bottom: 10px;
}


.contact__grid_img{
    position: absolute;
    bottom: 75px;
    left: 10px;
    z-index: 1;
}